@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
        height: 330px;
    }

    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        background-position: center;
    }

    section#login > div#fomulario{
        float: right;
        width: 60%;
    }

    div#fomulario > p{
        text-align: center;
        font-size: 1em;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        margin: auto;
        width: 50% ;
        height: 40px;
        background-color:#49a09d ;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        margin: 10px auto;
        width: 50%;
        height: 30px;
        padding-top: 5px;
        margin-top: 5px;
        background-color: white;
        color: #3b817e;
        border: 1px solid #49a09d ;
        border-radius: 5px;
        text-decoration: none;
    }
}

@media screen and (min-width: 992px) { 
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 950px;
        height: 330px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#fomulario{
        float: right;
        width: 50%;
    }

    div#fomulario > p{
        text-align: center;
        font-size: 1em;
        margin: 20px 0px;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        margin: auto;
        width: 50% ;
        height: 40px;
        background-color:#49a09d ;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        margin: auto;
        width: 50%;
        height: 30px;
        padding-top: 5px;
        margin-top: 5px;
        background-color: white;
        color: #3b817e;
        border: 1px solid #49a09d ;
        border-radius: 5px;
        text-decoration: none;
    }
}